<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<properties resource="application.properties"/>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="true"/>
 		<setting name="logImpl" value="LOG4J2"/> 
	</settings>

	<environments default="admin">
		<environment id="admin">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">    
				<property name="driver" value="${driver}"/>
			 	<property name="url" value="${admin_url}"/>
			 	<property name="username" value="${admin_id}"/>
			 	<property name="password" value="${admin_pw}"/>
<!-- 			 	 특정 시간마다 validationQuery를 실행 셋팅 시작  -->
<!-- 		        <property name="poolPingEnabled" value="true" /> -->
<!-- 				<property name="poolPingQuery" value="SELECT 1" /> -->
<!-- 				<property name="poolPingConnectionsNotUsedFor" value="1000" /> -->
<!--       			 특정 시간마다 validationQuery를 실행 셋팅 끝  -->
			 </dataSource>
		</environment>
		<environment id="service">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">    
				<property name="driver" value="${driver}"/>
			 	<property name="url" value="${service_url}"/>
			 	<property name="username" value="${service_id}"/>
			 	<property name="password" value="${service_pw}"/>
<!-- 		        <property name="poolPingEnabled" value="true" /> -->
<!-- 				<property name="poolPingQuery" value="SELECT 1" /> -->
<!-- 				<property name="poolPingConnectionsNotUsedFor" value="7200000" /> -->
			 </dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mapper/fcmPush_query.xml"/>
	</mappers>

</configuration>